@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,400&display=swap');



body {
    /* Positioning */
    margin-top:0;
    margin-bottom: 0;
    margin-left:0;
    margin-right: 0;
    height: 90vh;
    /* Typographic */
    font-family:'JetBrains Mono', monospace;
    font-size: 13px;
    color: rgb(220, 229, 241);
    /* Visual */
    background-color: rgb(115, 129, 143);

}

#app-name {
    /* Positioning */
    text-align: center;
    padding: 5px;
    /* Typographic */
    font-size: 20px;
}

#chat-wrapper {
    /* Positioning */
    position: relative;
    width: 100%;
    /* Box model */
    display: flex;
    flex-direction: column;
    /* Visual */
    background-color: rgb(138, 154, 170);
}

@media only screen and (min-width: 800px) {
    #chat-wrapper {
        /* Positioning */
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        /* Visual */
        border-radius: 10px;
    }
    #computer-name {
        /* Visual */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}


#computer-name {
    /* Positioning */
    padding: 5px;
    /* Box model */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; 
    /* Typographic */
    font-size: 15px;
    /* Visual */
    background-color: rgb(78, 107, 134);
}

#profile-picture {
    /* Positioning */
    padding-left: 5px;
    /* Box model */
    align-items: center;
    /* Typographic */
    font-size: 30px;
    text-align: center;

}

#profile-name {
    /* Positioning */
    padding-left: 5px;
    /* Box model */
    align-items: center;
    flex-grow: 1;
    /* Typographic */
    font-size: 15px;
    text-align: left;

}

#session-date-wrapper {
    /* Positioning */
    padding: 5px;
    /* Box model */
    display: flex;
    justify-content: center;
    /* Typographic */
    color: rgb(220, 229, 241);
    /* Visual */
    background-color: rgb(138, 154, 170);

}

#clear-chat {
    /* Positioning */
    margin-right: 15px;
    padding: 5px;
    /* Box model */
    flex-shrink: 1;
    /* Typographic */
    font-family:'JetBrains Mono', monospace;
    font-size: 10px;
    color: rgb(220, 229, 241);
    /* Visual */
    background-color:rgb(76, 131, 182);
    border-color: transparent;
    border-radius: 10px;

}

#message-log,::-webkit-scrollbar {
    /* Positioning */
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px; 
    max-height: 50vh;
    min-height: 50vh;
    /* Box model */
    overflow: auto;
    /* Visual */
    background-color: rgb(138, 154, 170);

}

.computer-message {
    /* Positioning */
    width: fit-content;
    margin-top: 15px;
    margin-left: 15px;
    margin-right:10%;
    padding: 10px;
    /* Box model */
    align-content: left;
    /* Visual */
    background-color:rgb(90, 120, 148);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.computer-timestamp {
    /* Positioning */
    width:fit-content;
    margin-top: -5px;
    margin-left: 20px;
    margin-right:10%;
    padding: 5px;
    /* Typographic */
    font-size: 10px;
    color: rgb(106, 125, 143);
    /* Visual */
    background-color: rgb(184, 195, 207);
    border-radius: 15px;
    
}

.user-message {
    /* Positioning */
    width: fit-content;
    margin-top:15px;
    margin-left: auto;
    margin-right: 15px;
    padding: 10px;
    /* Box model */
    align-content: right;
    /* Typographic */
    text-align: right;
    word-wrap: break-word;
    /* Visual */
    background-color:rgb(64, 158, 130);        
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}


.user-timestamp {
    /* Positioning */
    width:fit-content;
    margin-top: -5px;
    margin-left: auto;
    margin-right: 20px;
    padding: 5px;
    /* Box model */
    align-items: right;
    /* Typographic */
    font-size: 10px;
    color: rgb(106, 125, 143);
    /* Visual */  
    background-color: rgb(184, 195, 207);
    border-radius: 15px;

}

.user-input-wrapper {
    /* Positioning */
    position: sticky;
    bottom: 20vh;;
    min-width: 0;
    margin-top: 0px;
    padding-bottom: 20px;
    bottom: 15vh;
    overflow: auto;
    clear: both;
    /* Visual */
    background-color: rgb(138, 154, 170);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} 

#user-form {
    /* Positioning */ 
    position:sticky;
    width: 98%;
    height:min-content;
    margin-left: 1%;
    margin-right: 1%; 
    padding-top: 15px;  
    /* Box model */
    display:flex;
    gap: .5rem;
    align-content:stretch;
    align-items: center;
    /* Typographic */
    font-family:'JetBrains Mono', monospace;
}


#user-input {
    /* Positioning */
    min-width: 0;
    padding: 5px;
    /* Box model */ 
    flex-grow: 1;
    /* Typographic */
    font-family:'JetBrains Mono', monospace;
    color: rgb(75, 100, 122);
    /* Visual */
    background-color: rgb(184, 195, 207);
    border-color: transparent;
    border-radius: 10px;
    outline:none;
}

#submit {
    /* Positioning */
    padding: 5px;
    /* Box model */
    flex-shrink: 1;
    /* Typographic */
    font-family:'JetBrains Mono', monospace;
    color: rgb(220, 229, 241);
    /* Visual */
    background-color:rgb(64, 158, 130);
    border-color: transparent;
    border-radius: 10px;

}

/*https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/

#submit:hover {
    /* Visual */
    background-color: rgb(57, 145, 115);
    /* Misc */
    transform: translateY(2px);
}

#clear-chat:hover {
    /* Visual */
    background-color: rgb(69, 116, 160);
    /* Misc */
    transform: translateY(2px);
}

footer {
    /* Positioning */
    position:absolute;
    width: 100%;
    margin-top: 15px;
    padding-top: 5px;
    bottom: 0;
    overflow: auto;
    /* Box model */
    display: block;
    clear:both;
    /* Typographic */
    font-size: 9px;
    text-align: center;
    /* Visual */
    background-color:rgb(115, 129, 143);

}

