@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,400&display=swap');

/*Pendiente añadir fallback font*/

body {
    background-color: rgb(115, 129, 143);
    color: rgb(220, 229, 241);
    font-family:'JetBrains Mono', monospace;
    font-size: 13px;
}

#app-name {
    /*background-color: blue;*/
    text-align: center;
}

#profile-picture {
    padding-left: 5px;
    text-align: center;
    align-items: center;
    font-size: 40px;
}

#computer-name {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(78, 107, 134);
    font-size: 15px;
}

#message-log,::-webkit-scrollbar {
    padding-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 15px; 
    background-color: rgb(138, 154, 170);
    overflow: auto;
    display: block;
    max-height: 450px;
    min-height: 450px;
    position: relative;
}

#session-date-wrapper {
    background-color: rgb(138, 154, 170);
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    color: rgb(220, 229, 241);
    padding: 5px;

}

.computer-message {
    background-color:rgb(90, 120, 148);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px;
    margin-right:10%;
    width: fit-content;
    align-content: left;
    
}

.computer-timestamp {
    background-color: rgb(184, 195, 207);
    color: rgb(106, 125, 143);
    border-radius: 15px;
    margin-top: -5px;
    margin-left: 20px;
    padding: 5px;
    margin-right:10%;
    width:fit-content;
    font-size: 10px;
}

.user-message {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:rgb(64, 158, 130);
    margin-top:15px;
    text-align: right;
    margin-left: auto;
    margin-right: 15px;
    padding: 10px;
    width: fit-content;
    max-width: 500px;
    align-items: right;
    word-wrap: break-word;
}

.user-timestamp {
    background-color: rgb(184, 195, 207);
    color: rgb(106, 125, 143);
    border-radius: 15px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: 20px;
    padding: 5px;
    width:fit-content;
    font-size: 10px;
    align-items: right;
}

.user-input-wrapper {
    background-color: rgb(138, 154, 170);;
    margin-top:-10px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} 

#user-form{
    display:flex;
    gap: 0.5rem;
    height: 30px;
    width: 96%;
    padding-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
    align-content:stretch;
    font-family:'JetBrains Mono', monospace;
}


#user-input {
    flex-grow: 1;
    padding:15px;
    font-family:'JetBrains Mono', monospace;
    color: rgb(75, 100, 122);
    border-color: transparent;
    border-radius: 10px;
    background-color: rgb(184, 195, 207);
    outline:none;
}

#submit {
    font-family:'JetBrains Mono', monospace;
    color: rgb(220, 229, 241);
    height: 32px;
    border-color: transparent;
    border-radius: 10px;
    background-color:rgb(64, 158, 130);
}

/*https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/

#submit:hover {
    background-color: rgb(57, 145, 115);
}

#submit:hover  {
  background-color: rgb(57, 145, 115);
  transform: translateY(2px);
}

footer {
    position:fixed;
    margin-top: 15px;
    bottom:0%;
    width: 100%;
    font-size: 9px;
    text-align: center;
    display: block;
    position: relative;
    clear:both;
}

