@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,400&display=swap');

body {
    background-color: slategray;
    color: rgb(220, 229, 241);
    font-family:'JetBrains Mono', monospace;
}

#message-log {
    background-color: lightslategray;
}

