@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,400&display=swap');

/*Pendiente añadir fallback font*/

body {
    background-color: slategray;
    color: rgb(220, 229, 241);
    font-family:'JetBrains Mono', monospace;
    font-size: 13px;
}

#app-name {
    /*background-color: blue;*/
    text-align: center;
}

#message-log,::-webkit-scrollbar {
    /*background-color: green;*/
    padding-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 15px; 
    background-color: rgb(138, 154, 170);
    border-radius: 10px;
    overflow: auto;
    display: block;
    max-height: 450px;
    min-height: 450px;
    position: relative;
}

#session-date {
    /*background-color: indianred;*/
    text-align: center;
}

.computer-message {
    /*background-color: lightyellow;*/
    background-color:rgb(106, 125, 143);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px;
    margin-right:10%;
    width: fit-content;
    align-content: left;
    
}

.user-message {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:rgb(64, 158, 130);
    margin-top:15px;
    text-align: right;
    margin-left: auto;
    margin-right: 15px;
    padding: 10px;
    width: fit-content;
    align-items: right;
}

#user-form{
    display:flex;
    gap: 0.5rem;
    height: 30px;
    width: 80%;
    padding-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    align-content:stretch;
    font-family:'JetBrains Mono', monospace;
}


#user-input {
    flex-grow: 1;
    padding:15px;
    font-family:'JetBrains Mono', monospace;
    color: rgb(220, 229, 241);
    border-color: transparent;
    border-radius: 10px;
    background-color: rgb(138, 154, 170);
    outline:none;
}



#submit {
    font-family:'JetBrains Mono', monospace;
    color: rgb(220, 229, 241);
    height: 32px;
    border-color: transparent;
    border-radius: 10px;
    background-color:rgb(64, 158, 130);
}

#submit:hover {
    background-color: rgb(57, 145, 115);
}

#submit:hover  {
  background-color: rgb(57, 145, 115);
  transform: translateY(2px);
}

footer {
    /*background-color: darkblue;*/
    position:fixed;
    margin-top: 15px;
    bottom:0%;
    width: 100%;
    font-size: 9px;
    text-align: center;
    display: block;
    position: relative;
    clear:both;
}

